.posts-container {
    background-color: rgb(39, 116, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.posts-heading {
    top: 10px;
    position: relative;
}

.post-container {
    background: #f0f5e4;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 3em;
}

.post-heading {
    height: 120px;
    text-align: center;
    display: flex;
    font-weight: 700;
    align-items: center;
}

.post-image {
    width: 100%;
}

.post-content {
    font-size: larger;
    font-weight: 500;
}

.post-button {
    right: 100px;
}

.post-footer {
    display: flex;
}


.post-info {
    position: relative;
    top: 6px;
    margin-right: 5px;
}

.post-info-content {
    font-size: large;
    font-weight: 500;
}