.ranking-background{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f9de96;
    position: fixed;
    z-index: -1;
}

.cnmboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #333;
}

.cnmboard__header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    padding-top: 10px;
    width: 100%;
    color: #333;
}

.rankings {
    position: relative;
    top: 70px;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #333;
}

.rank_item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 300px;
    height: 50px;
    background-color: #DAEBFE;
    color: #333;
    padding: 1ch;
    margin-top: 1ch;
    border-radius: 1ch;
    border-color: rgb(43, 200, 148);
    border-style: solid;
}

.rank_item__rank {
    justify-content: left;
    align-items: center;
    color: #333;
    width: 10%;
    border-color: rgb(43, 200, 148);
}

.rank_item__item {
    justify-content: center;
    align-items: center;
    color: #333;
    width: 100%;
    text-align: center;
    border-color: rgb(43, 200, 148);
}

.ranking-image {
    top: 200px;
    width: 200px;
    position: fixed;
}

.ranking-image-left {
    left: 5%;
}

.ranking-image-right {
    right: 5%;
}