.cnmboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    color: #333;
}

.cnmboard__header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: #333;
}

.rankings {
    position: relative;
    top: 70px;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #333;
}

.rank_item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
    color: #333;
    padding: 1ch;
    border-radius: 1ch;
    border-color: rgb(43, 200, 148);
    border-style: solid;
}

.rank_item__rank {
    justify-content: left;
    align-items: center;
    color: #333;
    padding: 1ch;
    width: 10%;
    border-radius: 1ch;
    border-color: rgb(43, 200, 148);
}

.rank_item__item {
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 1ch;
    width: 90%;
    text-align: center;
    border-radius: 1ch;
    border-color: rgb(43, 200, 148);
}