.Game{
    position: relative;
    border: 2px solid black;
    height: 500px;
    border-radius: 9px;
}

.Block{
    pointer-events: auto;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    box-shadow: 2px 2px 4px #000;
    border: 1px solid #c2cbcbee;
    cursor: pointer;
    margin: 0px 5px 5px 0;
}

.Board{
    width: 100%;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
